.album-list{
  ul{
    list-style-type: none;
    padding: 0;
  }
  .album{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    padding: 25px 75px;
    border-top: 1px solid $gray-color;
    &:first-child{
      border-top: none;
    }
    .info{
      width: 75%;
      .title, .artist{
        &:after{
          content: '';
          display: block;
          width: 80%;
          height: 1px;
          margin-top: 10px;
          background-color: $gray-color;
        }
      }

      .title{
        h3{
          font-size: 25px;
          font-weight: 600;
          margin: 0;
        }
        .album-type{
          font-size: 12px;
          color: $dark-gray-color;
        }
      }
    }
    .image{

    }
  }
  .album.odd-row{
    background-color: #f8f8ff;
  }
}
